
:root{

    --main-color: pink;
    
}
 @media (min-width:768px){
    .container {
        width: 750px
    

    }
    .section{
        flex-direction: column;
    }
}
@media (min-width:992px){
    .container {
        width: 970px

    }
}
@media (min-width:1200px){
    .container {
        width: 1170px 

     }}
    
 
@media(max-width:630px){
    .container.two{
        display: flex;
        flex-direction: column;
    justify-content: center;}
    
    } 

    

   
    


.container {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
*{
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    

}
body{
    font-family: 'Work Sans', sans-serif;
    
    
}
.container.one{
    display: flex;
    justify-content: space-between;
    
}


.logo span:first-child{
    display: inline-block;
    height : 30px;
    width: 4px;
    background-color: var(--main-color);

}
.logo span:last-child{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: solid 2px var(--main-color);
    border-radius: 50%;
    margin-top: -100px;
    
    transform: translateY(-20%)
    

}
.header .link .bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header .link .bar span{
    display: block;
    width: 40px;
    height:2px;
    background-color: black;
    margin-bottom: 2px;
    


}
.header .link .bar span:nth-child(2){
    width: 20px;

} 
.link:hover  .list{
    display:inline-block;
    cursor: pointer;
    z-index: 1;
    
 

}
.list:hover {
    display:inline-block;
    z-index: 1;
   
}

.link {
    position:relative;
}
.link .list{
    
    display: none;
    position: absolute;
    right:0;
}

.link .list ul::before{
    content:"";
    border: 9px solid;
    width: 3px;
   transform: translate(160px,-13px);
   display: inline-block;
   border-color:rgba(242, 216, 216, 0.779) transparent transparent transparent ;
  

}
.link .list ul{
    list-style: none;
    background-color: rgba(242, 216, 216, 0.779);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    width: 180px;
    margin-top: 14px;
   
    
    


}
.link .list ul li{

    padding-top: 10px;
    padding-bottom: 3px;
    padding: 10px;
    border-bottom: solid rgb(198, 189, 189);
    
   
}
.link .list ul li:first-child{
    padding-top: 0px;
}
.link .list ul li a{
    text-decoration: none;
    color: black;
    transition: .5s;

}
.link .list ul li a:hover{
    color: blue;
    /* inline block to accept tranform */
    display:inline-block;
    transform: translatex(20px);
}


.title-one{
    background-image: url(../images/mountain.jpg\ -\ Copy.jpg);
    size: cover;
    height: calc(100vh - 57px);
    color: var(--main-color);
    
    
}
.first-p{
    height: 50vh;
}
.title-one h1{
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    padding: 100px;
    
}
.title-one p{
    text-align: center;
    padding-top: 5px;
    margin-top: 0px;
    
}
.icon{
    background-color: aliceblue;
    color: black;
    
   
    
}
.container.two {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    }
.icon-one, .icon-two, .icon-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    flex-basis: 30%;
     min-width: 200px; 
    
   

}
.container.two p{
    font-size: 16px;
    text-align: center;
}
.container.two h1{
    font-size: 20px;
    margin-top: 1px;
    
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    text-align: center;
}
.container.two i{
    font-size: 40px;
    color: var(--main-color);

}
.partition{
    background-color: white;
   
    
}
 
    

.partition .serv{
    font-size: 100px;
    font-style: italic;
    font-weight: 900;
    

    color: var(--main-color);
    
    text-align: center;
    text-transform: uppercase;

}



.partition h2{
    margin-top: -100px;
    font-weight: 400;
    letter-spacing: -2px;
    text-align: center;
}
@media(max-width:630px){
    .partition .serv{
        font-size: 50px;
}
.partition h2{
    margin-top: -50px;
    font-size: 18px;
}
}
 .container.partition .features{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 50px;
    justify-content:center;
    
    
    grid-template-areas: "graphic design col-three" "ui web col-three";
    margin-top: 7%;
    
    padding-bottom: 12%;
                  

    
}

.graphic{
    grid-area: graphic;
}
.ui{
    grid-area: ui;
}
.design{
    grid-area: design;
}
.web{
    grid-area: web;
}
.col-three{
    grid-area: col-three;
}

@media (max-width:1120px){
    .col-three{
        display: none;}

}
@media (max-width:1120px){
    
    .container.partition .features{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%,1fr));
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "graphic design" "ui web";
        row-gap: 20px;
        column-gap: 30px;
        justify-content: center;
    }
    .graphic{
        grid-area: graphic;
    }
    .ui{
        grid-area: ui;
    }
    .design{
        grid-area: design;
    }
    .web{
        grid-area: web;
    }
    

}
@media (max-width:630px){
    .container.partition .features{
        display: flex ;
        flex-direction: column;
        align-items:center;
       
    }}
   

.container.partition i{
    color: var(--main-color);
    font-size: 30px;
    transform: translate(-50px,40px);
}
.container.partition h1{
    font-size: 20px;
    width: fit-content;

}
.col-three {
    position: relative;
    padding-left: 200px;
}
/* z-index required the element to be positioned */
   .col-three .one{
    width: 250px;
    height: 350px;
    margin-top: 50px;
    z-index:2;
    position: absolute;
    right:30px;
     margin-left:-90px; }

    
    
 .container.partition span{
    display: inline-flex;
    height: 450px;
    width: 100px;
    position:absolute ;
    background-color:rgb(247, 212, 233);
    z-index: 1;
    right: 0;

     } 
 
.portfolio{
    background-color: aliceblue;
    /* margin-top: 130px; */
}
.portfolio-header{
    padding-top: 67px;
}
.portfolio-header h1{
    
    font-size: 100px;
    font-style: italic;
    font-weight: 900;
    margin-top: 0px;
    

    color: var(--main-color);
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;


}
.portfolio-header h2{
    margin-top: -100px;
    font-weight: 400;
    letter-spacing: -2px;
    text-align: center;
}
@media(max-width:630px){
    .portfolio-header h1{
        font-size: 50px;
}
.portfolio-header h2{
    margin-top: -50px;
    font-size: 18px;
}
}
.portfolio-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 100px;

}


.portfolio img{
    height: 350px;
    width: 100%;
}
.portfolio-one, .portfolio-two, .portfolio-three{
    background-color: white; 
    
    flex-basis: 32%;
    min-width: 350px;
    margin-bottom: 20px;
    padding-bottom:20px;
    
 }
 @media(max-width:1200px){
    .portfolio-section{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 50px;
        margin-top: 100px;
    
    }
    .portfolio-one, .portfolio-two, .portfolio-three{
flex-basis: 35%;
}
}

@media(max-width:1000px){
    .container.portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        
      
    }
    .portfolio-section {
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container.portfolio{
    width: 50%
}

}
 .container.portfolio h1{
    font-size: 20px;

 }    

.about{
    background-color: white;

}
.about-header{
    padding-top: 67px;
    
    background-color: white;
    /* padding-bottom: 67px; */
}
.about-header h1{
    
    font-size: 100px;
    font-style: italic;
    font-weight: 900;
    margin-top: 0px;
    

    color: var(--main-color);
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -3px;
margin-bottom: 0px;

}
.about-header h2{
    margin-top: -100px;
    font-weight: 400;
    letter-spacing: -2px;
    text-align: center;
    margin-top: -45px;
}
@media(max-width:630px){
    .about-header h1{
        font-size: 50px;
}
.about-header h2{
    /* margin-bottom: 100px; */
    font-size: 16px;
    margin-top: -25px ;
}
}
.container.about{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    margin-top: 100px;
     padding-bottom: 67px;
   
}
@media(max-width:1000px){
    .about-two::after{
        display: none;

    }
    .about-two::before{
        display: none;

    }

}

@media(max-width:630px){
    .container.about{
        display: flex;
        flex-direction:column;
        align-items: center;}

        
        

}
.about-one{
    width: 50%;
    z-index: 2;
    position: relative;
    
    background-color: white;
    
   
     
}
.about-two{
    width: 250px;
    height: 350px;
   

    
   position: relative;
    
    
}

.about p{
    font-size: 16px;
    
}
.about p:first-child::after{
    content: "";
    border: 1px solid;
    width:50%;
    margin-top: 20px;
    color: var(--main-color);
    display: block;

}

.about img{
    height: 350px;
    width: 250px;
    position: absolute;
    z-index: 2;
    
    

}
.about-two::before{
    content:"";
    height: 300px;
    width: 150px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
   
    
    background-color: white;
    
   
    z-index: 1;
    position: absolute;
   bottom: 25px;
    left: 215px;
    /* display: block;
     */
    
}
.about-two::after{
    content:"";
    height: 450px;
   
    width: 100px;
    background-color:aliceblue;
    
   
    z-index: 1;
    position: absolute;
    left : -10%;
top: -50px;
}
 .contact{
    background-color: aliceblue;
    text-align: center;
    padding-top: 67px;
    padding-bottom: 80px;
   
 }
 .contact p:first-of-type{
    margin-top: -40px;
    padding-bottom: 67px;
    font-size: 20px;
 }      
 .contact h1{
    font-size: 100px;
    font-style: italic;
    font-weight: 900;
    margin-top: 0px;
    color: var(--main-color);
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -5px;
    margin-bottom: 0px;
 }
.contact p:nth-child(3), .contact p:nth-child(4){
    font-size: 35px;
    font-weight: 900;
}
.contact p:nth-child(4){
    color: var(--main-color)
    ;
}
.contact p:nth-child(5){
    font-size: 20px;
}
    
 .footer{
    background: purple;
    font-size: 16px;
    margin-top: 0px;
 text-align: center;
 font-size: 25px;
 }
 .footer p{
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
 }
 .footer span{
    color: var(--main-color)
    ;
    font-weight: 800;
 }
 @media(max-width:630px){
    .contact h1{
        font-size: 50px;
}
.contact p:first-of-type{
    margin-top: -25px;
    font-size: 16px;
}
 .contact p:nth-child(3), .contact p:nth-child(4){
    
    font-size: 25px;
    font-weight: 800;
}
}
}